@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, span, p, li, button, a {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, span, p, li {
    color: $primary-text;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 150px;

    .logo-wrapper {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;

        span {
            font-weight: 700;
            font-size: 30px;
            line-height: 28px;
        }
    }

    .nav-wrapper {
        margin-left: auto;
        margin-right: 25px;

        .nav-list {
            display: flex;
            gap: 30px;
            margin-right: 25px;

            li {
                list-style-type: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                cursor: pointer;

                &:first-child {
                    font-weight: 600;
                }
            }
        }
    }

    .button-primary {
        &.transparent {
            margin-right: 25px;
        }
    }
}

.button-primary {
    background: $primary-bg;
    border-radius: 4px;
    width: 110px;
    height: 43px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $secondary-text;
    cursor: pointer;

    &.transparent {
        border: 1px solid $primary-border;
        color: $primary-text;
        background: transparent;
    }
}

.main-wrapper {
    height: calc(100vh - 83px);

    .main-info-wrapper {

        .main-title {
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
        }
    }
}

.product-wrapper {
    height: 100vh;
}

.text-default {
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
}

.link {
    color: $primary-bg;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}