$primary-bg: #02897A;
$secondary-bg:#E5E5E5;
$lightgray-bg: #EFEFEF;
$blue-bg: #4D8DFF;
$purple-bg: #740A76;
$red-bg: #F03E3D;
$orange-bg: #FF9900;
$lightgreen-bg: #EDFFFC;

$primary-text: #22343D;
$secondary-text: #FFFFFF;
$gray-text: #AFAFAF;
$lightgray-text: #E0E0E0;
$darkgray-text: #737373;

$primary-border: #BCD0E5